@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Manrope:wght@300;400;500;600;700;800&family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@300&display=swap");
body {
  font-family: Manrope;
  margin: 0;
  background-color: black;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  background-color: #f1f1f1;
  border-radius: 5px;
  margin: 8px;
  padding: 10px;
  box-shadow: 0px 0.5rem 0rem 0px #777;
}
.card a {
  font-size: 20pt;
  cursor: pointer;
  padding: 5px;
  transition: 0.2s;
  color: #333;
  text-decoration: none;
}
.card a:hover {
  color: green;
}
.about-section {
  padding: 50px;
  text-align: center;
  color: green;
  font-family: Manrope;
  background-color: transparent;
}
.about-section a {
  font-size: 20pt;
  cursor: pointer;
  padding: 5px;
  color: #d3d3d3;
  transition: 0.2s;
}
.about-section a:hover {
  color: green;
}
.container {
  padding: 10px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}
.button:hover {
  background-color: #555;
}

@media screen and (max-width: 1500px) {
  .column {
    width: 100%;
    display: block;
  }
}
#nohover {
  color: green;
  cursor: text;
}
h1 {
  font-family: "Aleo";
  color: white;
  font-weight: 400;
  font-size: 3rem;
}
h1 span {
  color: green;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #333;
}
::-webkit-scrollbar-thumb {
  /* background: green; */
  background: #888;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  /* background: rgb(1, 112, 1); */
  background: #777;
}
::-webkit-scrollbar-thumb:active {
  /* background: rgb(1, 92, 1); */
  background: #666;
}

hr {
  color: white;
  background: white;
  width: 90%;
  text-align: center;
  margin-top: -1rem;
  margin-bottom: 2rem;
  border-radius: 5rem;
}

footer {
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  display: flex;
  vertical-align: middle;
}
footer a {
  color: white;
  text-decoration: none;
  transition-duration: 0.3s;
  font-size: 1.25rem;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}
#footer-hr {
  margin-bottom: 0.5rem;
}
footer a:hover {
  color: green;
}
#footer-separator {
  font-size: 2rem;
  margin-right: 0.1rem;
  margin-left: 0.3rem;
}

.signup {
  color: white;
  text-align: center;
  margin-bottom: 3rem;
  background: rgb(4, 146, 4);
  padding: 2rem;
  padding-bottom: 4rem;
  clip-path: polygon(0 10%, 100% 2%, 100% 90%, 0 100%);
}

.signup h2 {
  font-family: "Aleo";
  font-weight: 400;
  font-size: 2em;
}

.signup h4 {
  font-size: 1.2rem;
  margin-top: 0px;
}

.btn > button {
  font-family: Manrope;
  border-radius: 5px;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  color: black;
  padding: 0.3rem 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  background: linear-gradient(to right, black 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.35s ease-out;
  cursor: pointer;
}

.btn > button:hover > * {
  transition: all 0.45s ease-out;
}

.btn > button:hover {
  color: white;
  background-position: left bottom;
}

.btn > button:hover > * {
  color: white;
}

.btn > button:focus {
  outline: none;
}

.fa-paper-plane {
  margin-right: 0.5rem;
}
